venv/
tools/venv/
tools/dist/
tools/poetry_tastebot_plugin.egg-info/
tools/venv/
fl/__pycache__/
raw/
processed/
__pycache__/
ethereum/
keystore/
api.log
pre_login.log
accounts.*
*.db
*.db-shm
*.db-wal
p2p/*.db
p2p/*.db-shm
p2p/*.db-wal
p2p/bootstrap/*.db
p2p/bootstrap/*.db-shm
p2p/bootstrap/*.db-wal
p2p/local/*.db
p2p/local/*.db-shm
p2p/local/*.db-wal
p2p/neighbor/*.db
p2p/neighbor/*.db-shm
p2p/neighbor/*.db-wal
p2p/consensus/data/
p2p/consensus/consensus
p2p/consensus/client_1/*
p2p/consensus/client_2/*
p2p/waku
p2p/tendermint/*
p2p/libs/*
p2p/build
.env
im/libs/*
im/status-go/*
ai/libs/*
ai/redis
ai/FalkorDB