[submodule "restaurant_waku/waku-proto"]
	path = restaurant_waku/waku-proto
	url = git@github.com:waku-org/waku-proto.git
[submodule "restaurant_waku/enr-decoder"]
	path = restaurant_waku/enr-decoder
	url = https://github.com/waku-org/enr-decoder.git
[submodule "p2p/waku"]
	path = p2p/waku
	url = git@github.com:waku-org/go-waku.git
	ignore = dirty
[submodule "im/status-go"]
	path = im/status-go
	url = git@github.com:status-im/status-go.git
	ignore = dirty
[submodule "ai/FalkorDB"]
	path = ai/FalkorDB
	url = git@github.com:FalkorDB/FalkorDB.git
	ignore = dirty