[submodule "restaurant_waku/waku-proto"]
	path = restaurant_waku/waku-proto
	url = git@github.com:waku-org/waku-proto.git
[submodule "restaurant_waku/enr-decoder"]
	path = restaurant_waku/enr-decoder
	url = https://github.com/waku-org/enr-decoder.git
[submodule "p2p/waku"]
	path = p2p/waku
	url = git@github.com:waku-org/go-waku.git
